@media( max-width: 375px){
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 100px;
        }
        .card {
            padding: 50px;
            height: 350px;
            width: 250px;
        }
        img {
            
            margin-bottom: px;
            margin-top: px;
        }
    
        .one {
            background: hsl(31, 77%, 52%);
            border-radius: 8px 8px 0 0px;
    
        }
    
        .two {
            background: hsl(184, 100%, 22%);
            border-radius: 0;
    
        }
    
        .three {
            background: hsl(179, 100%, 13%);
            border-radius: 0px 0px 8px 8px;
        }
    
        h2 {
            margin-bottom: 20px;
            color: hsl(0, 0%, 95%);
            font-family: 'Big Shoulders  Display'
                cursive;
    
        }
    
        p {
            margin-bottom: 45px;
            color: hsla(0, 0%, 100%, 0.75);
            font-size: 10px;
        }
    
        .one button {
            color: hsl(31, 77%, 52%);
        }
    
        .two button {
            color: hsl(184, 100%, 22%);
        }
    
        .three button {
            color: hsl(179, 100%, 13%);
        }
    
        button {
            background-color: hsl(0, 0%, 95%);
            border: none;
            border-radius: 50px;
            width: 100px;
            height: 30px;
            cursor: pointer;
        }
    
        .one button:hover {
            border: 2px solid hsl(0, 0%, 95%);
            background-color: hsl(31, 77%, 52%);
            color: hsl(0, 0%, 95%);
        }
    
        .two button:hover {
            border: 2px solid hsl(0, 0%, 95%);
            background-color: hsl(184, 100%, 22%);
            color: hsl(0, 0%, 95%);
        }
    
        .three button:hover {
            border: 2px solid hsl(0, 0%, 95%);
            background-color: hsl(179, 100%, 13%);
            color: hsl(0, 0%, 95%);
        }
        .three > button {
            margin-bottom: 100px;
        }
}    